<script src="/assets/js/plugins/jquery.dataTables.min.js"></script>
<script src="/assets/js/plugins/dataTables.bootstrap4.min.js"></script>
<script src="/assets/js/plugins/dataTables.buttons.min.js"></script>
<script src="/assets/js/plugins/dataTables.colReorder.min.js"></script>
<script src="/assets/js/plugins/dataTables.responsive.min.js"></script>
<script src="/assets/js/plugins/dataTables.fixedColumns.min.js"></script>
<script src="/assets/js/plugins/dataTables.keyTable.min.js"></script>
<script src="/assets/js/plugins/dataTables.select.min.js"></script>
<script src="/assets/js/plugins/buttons.bootstrap4.min.js"></script>
<script src="/assets/js/plugins/buttons.colVis.min.js"></script>
<script src="/assets/js/plugins/buttons.html5.min.js"></script>
<script src="/assets/js/plugins/buttons.print.min.js"></script>
<script src="/assets/js/plugins/pdfmake.min.js"></script>